:root {
    --flip-width: 6vw;
    --flip-height: 60px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.question-bg::before, .threeve-bg::before, .andy-bg::before, .girl-bg::before, .kenan-bg::before, .farley-bg::before, .blind-bg::before, .scratch-bg::before {
    content: '';
    background-size: var(--flip-width) calc(2.05*var(--flip-height));
    width: var(--flip-width);
    height: calc(2.05*var(--flip-height));
    position: absolute;
    top: 0px;
    left: 0px;
}

.rotating-bg, .drop-box {
    background-image: url(img/question-mark.png);
    background-size: var(--flip-width) calc(2.05*var(--flip-height));
}

.drop-box {
    width: var(--flip-width);
    height: var(--flip-height);
    position: absolute;
    top: calc(1.05*var(--flip-height));
    background-position-y: bottom;
    z-index: -1;
}

.question-bg::before {
    background-image: url(img/question-mark.png);
}

.colon  {
    font-size: 8rem;
    height: calc(2*var(--flip-height));
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto -0.5rem;
}

.flip-box {
    margin: auto;
    background-color: transparent;
    width: var(--flip-width);
    height: var(--flip-height);
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
}

.back {
    background-image: url(img/question-bottom.png);
    color: white;
    transform: rotateX(-180deg) translateY(100%);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 99;
}

.q-mark, .top-image, .bottom-image {
    height: 100%;
    width: 100%;
    z-index: 99;
}

.days, .hours, .minutes, .seconds {
    display: flex;
    justify-content: space-around;
}
  
.seconds-ones-box, .seconds-tens-box, .minutes-ones-box, .minutes-tens-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.seconds-ones-box {
    animation: flip-s 1.2s infinite;
}

.seconds-tens-box {
    animation: flip-ten-s 12s infinite;
}

.minutes-ones-box{
    animation: flip-m 60s infinite;
}

.minutes-tens-box{
    animation: flip-ten-m 600s infinite;
}

@keyframes flip-s {
    0% {
        
    transform: rotateX(0deg) translateY(0%);
    transform-origin: bottom;
    }
    100% {
    transform: rotateX(-180deg) translateY(-1px);
    }
}

@keyframes flip-ten-s {
    0% {
        transform: rotateX(0deg) translateY(0%);
        transform-origin: bottom;

        }
    10% {
        transform: rotateX(-180deg) translateY(-2px);
        transform-origin: 100%;
    }
    
    100% {
        transform: rotateX(-180deg) translateY(-2px);
    }
}

@keyframes flip-m {
    0% {
        transform: rotateX(0deg) translateY(0%);
    transform-origin: 80%;

        }
    1.67% {
        transform: rotateX(-180deg) translateY(-2px);

    }
    
    100% {
        transform: rotateX(-180deg) translateY(-2px);
    }
}

@keyframes flip-ten-m {
    0% {
        transform: rotateX(0deg) translateY(0%);
    transform-origin: 80%;

        }
    0.167% {
        transform: rotateX(-180deg) translateY(-2px);
    }
    
    100% {
        transform: rotateX(-180deg) translateY(-2px);
    }
}

.verses {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    border: solid 1px #eee;
    box-shadow: 0px 0px 10px #bbb;
}

.verse-container {
    background-color: #333;
    padding: 1.25rem;
    flex-basis: 50%;
}

.verse-container:nth-of-type(1) {
    margin-right: 0.5rem;
}

.verse-reference {
    text-align: right;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.85rem;
}

.confession-container {
    width: 70vw;
    margin: 2rem auto;
}

.confession-title {
    font-size: 1.1rem;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.info {
    margin-left: 1rem;
}

.info > span {
    font-weight: bold;
    color: #96add9;
}

@media screen and (max-width: 716px) {
    :root {
        --flip-width: 9vw;
        --flip-height: 50px;
    }

    .colon {
    font-size: 6rem;
    }
    
    .verses {
        margin: 0 auto;
        display: block;
        border: solid 1px #eee;
        box-shadow: 0px 0px 10px #bbb;
    }

    .verse-container:nth-of-type(1) {
        margin-right: unset;
    }
    
    .confession-container {
        margin: 2rem auto 6rem auto;
    }
    
    footer {
        display: block;
        height: auto;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .info {
        margin-left: 0;
    }
    
}